@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: #25cf99;
    --footer-color: #2563EB;
}


body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    margin: 0px;
    background-color: var(--primary-color);
    font-family: 'Montserrat', sans-serif;
}
h1 {
    text-align: center;
}

p {
    text-align: center;
}

.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
    /* margin-top: 5rem;
    margin-bottom: 1rem; */
}

.primary-link {
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
}

.secondary-link {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

/** list **/

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 1rem;
}


.header {
    width: 100%;
    background-color: var(--secondary-color);
}



.container{
    padding: 0rem 1rem;
}

.container-center {
    flex-wrap: wrap;
    max-width: 600px;
    margin: auto;
}


#txt-input {
    padding: 1rem;
    /* display: block;
    margin: auto; */
}

#btn-input {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: 0.5rem 1rem;
    /* margin: 2.5rem; */
}

#txt-output {
    color: black;
    border: 0.2rem solid var(--footer-color);
    padding: 1rem;
    margin-top:  1rem;
}


/** footer **/

.footer{
    margin-top: auto;
    background-color: var(--footer-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
}


.footer .link {
    color: white;
}

.footer .footer-head{
    font-weight: bold;
    font-size: large;
}

.footer ul{
    padding-inline-start: 0px;
}

.list-item-inline .footer-img {
   min-height: 30px;
}















